@import './variables.less';

@font-face {
  font-family: NotoSansSC;
  src: url('../assets/font/NotoSansSC-Medium.otf');
}

@font-face {
  font-family: MontserratVariableFont;
  src: url('../assets/font/Montserrat-VariableFont_wght.ttf');
}

body {
  font-family: MontserratVariableFont, NotoSansSC, 'Arial', sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
  color: #fff;
  background-color: @bg-body;
}